/* Header Styling */
.header {
    background: linear-gradient(
                  to right,
                  rgba(255, 0, 0, 0.4),
                  rgba(0, 0, 0, 0.5),
                  rgba(255, 215, 0, 0.4)
               ),
<<<<<<< HEAD
               url('/gryphoncp.png');
=======
               url('../../public/gryphoncp.png'); /* This is a public path */
>>>>>>> 2ba2dfc62bf48f7abfa2eabbd7e7375653d4a9fd
    background-size: cover;
    background-position: center top 28%;
    background-repeat: no-repeat;
    padding: 60px 0;
    text-align: center;
    color: white;
    
}
  }
  



.header-title {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 0.3em;
    text-shadow:
        -2px -2px 0 #000,
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000,
        -2px  0px 0 #000,
         2px  0px 0 #000,
         0px  2px 0 #000,
         0px -2px 0 #000;
}

.header-subtitle {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 1em;
    text-shadow:
        -2px -2px 0 #000,
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000,
        -2px  0px 0 #000,
         2px  0px 0 #000,
         0px  2px 0 #000,
         0px -2px 0 #000;
}


.header-nav {
    margin-top: 10px;
}

.header-nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

.header-nav-item {
    font-size: 1rem;
    color: #ffffff; /* Gold */
    cursor: pointer;
    transition: color 0.3s ease;
}

.header-nav-item:hover {
    color: #ff0000; /* Red */
}
